:root {
  --primary-hue: 250;
  --accent-hue: 310;
  --secondary-hue: 190;
  --error-hue: 0;
  --warning-hue: 60;
  --success-hue: 110;


  --md-dark: #333;
  --dark: 0, 0%, 8%;
  --light: 0, 0%, 95%;
  --primary: var(--primary-hue), 80%, 40%;
  --accent: var(--accent-hue), 70%, 40%;
  --secondary: var(--secondary-hue), 90%, 35%;
  --error: var(--error-hue), 100%, 40%;
  --warning: var(--warning-hue), 100%, 45%;
  --success: var(--success-hue), 100%, 35%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  --element-bg: hsl(var(--light));
  background-color: hsl(var(--element-bg));
}

body {
  background-color: hsl(var(--dark), .8);
  color: hsl(var(--light));
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100vh;
  position: relative;
}

body::after {
  content: '';
  width: 375vw;
  height: 150vw;
  border-radius: 50%;
  background-color: hsl(var(--primary), .7);
  outline: .3rem solid hsl(var(--secondary), .3);
  box-shadow: 0 2px 15px 2px hsl(var(--light));
  outline-offset: .15rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -140vw;
  z-index: -1;
}

main {
  flex: 1;
}

h1, h2, h3, p, ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

header {
  height: 10vw;
}

input,
select {
  padding: .2rem .4rem;
  text-align: center;
}

button {
  --element-bg: 0, 0%, 100%;
  padding: .5rem 1.5rem;
  font-size: .9rem;
  font-weight: 700;
  border-radius: 9999px;
  border-width: 2px;
  border-style: solid;
  cursor: pointer;
  transition: all .3s ease;
  background-color: hsl(var(--element-bg), .8) !important;
}

button:hover {
  background-color: hsl(var(--element-bg)) !important;
}

.primary,
.accent,
.error,
.warning,
.success,
.secondary,
.dark,
.light {
  color: var(--light);
  border-color: var(--light);
  background-color: hsl(var(var(--element-bg)));
}

.light,
.warning {
  color: hsl(var(--dark)) !important;
  border-color: var(--dark) !important;
}

.primary { --element-bg: var(--primary)}
.secondary { --element-bg: var(--secondary);}
.accent { --element-bg: var(--accent);}
.error { --element-bg: var(--error);}
.warning { --element-bg: var(--warning);}
.success { --element-bg: var(--success);}
.dark { --element-bg: var(--dark);}
.light { --element-bg: var(--light);}