.flex { display: flex;}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-rev {
  display: flex;
  flex-direction: row-reverse;
}
.flex-col-rev {
  display: flex;
  flex-direction: column-reverse;
}
.f-1 { flex: 1;}
.f-2 { flex: 2;}

/* justify-content */
.jc-center { justify-content: center;}
.jc-between { justify-content: space-between;}
.jc-around { justify-content: space-around;}

/* align-items */
.ai-center { align-items: center;}
.ai-between { align-items: space-between;}
.ai-around { align-items: space-around;}
.ai-end { align-items: end;}

/* gap */
.gap-1 { gap: .25rem;}
.gap-2 { gap: .5rem;}
.gap-3 { gap: .75rem;}
.gap-4 { gap: 1rem;}
.gap-5 { gap: 1.25rem;}
.gap-6 { gap: 1.5rem;}
.gap-7 { gap: 1.75rem;}
.gap-8 { gap: 2rem;}
.gap-9 { gap: 2.25rem;}
.gap-10 { gap: 2.5rem;}

/* height */
.h-0 { height: 0px;}
.h-1 { height: .25rem;}
.h-2 { height: .5rem;}
.h-3 { height: .75rem;}
.h-4 { height: 1rem;}
.h-5 { height: 1.25rem;}
.h-6 { height: 1.5rem;}
.h-7 { height: 1.75rem;}
.h-8 { height: 2rem;}
.h-9 { height: 2.25rem;}
.h-10 { height: 2.5rem;}

/* width */
.w-0 { width: 0px;}
.w-25 { width: 25%;}
.w-50 { width: 50%;}
.w-screen { width: 100vw;}
.w-100 { width: 100%;}

/* MARGIN VARIATIONS */
/* margin */
.m-1 { margin: .25rem;}
.m-2 { margin: .5rem;}
.m-3 { margin: .75rem;}
.m-4 { margin: 1rem;}
.m-5 { margin: 1.25rem;}
.m-6 { margin: 1.5rem;}
.m-7 { margin: 1.75rem;}
.m-8 { margin: 2rem;}
.m-9 { margin: 2.25rem;}
.m-10 { margin: 2.5rem;}
.m-auto { margin: auto;}
/* margin-top */
.mt-1 { margin-top: .25rem;}
.mt-2 { margin-top: .5rem;}
.mt-3 { margin-top: .75rem;}
.mt-4 { margin-top: 1rem;}
.mt-5 { margin-top: 1.25rem;}
.mt-6 { margin-top: 1.5rem;}
.mt-7 { margin-top: 1.75rem;}
.mt-8 { margin-top: 2rem;}
.mt-9 { margin-top: 2.25rem;}
.mt-10 { margin-top: 2.5rem;}
/* margin-bottom */
.mb-1 { margin-bottom: .25rem;}
.mb-2 { margin-bottom: .5rem;}
.mb-3 { margin-bottom: .75rem;}
.mb-4 { margin-bottom: 1rem;}
.mb-5 { margin-bottom: 1.25rem;}
.mb-6 { margin-bottom: 1.5rem;}
.mb-7 { margin-bottom: 1.75rem;}
.mb-8 { margin-bottom: 2rem;}
.mb-9 { margin-bottom: 2.25rem;}
.mb-10 { margin-bottom: 2.5rem;}
/* margin-left */
.ms-1 { margin-left: .25rem;}
.ms-2 { margin-left: .5rem;}
.ms-3 { margin-left: .75rem;}
.ms-4 { margin-left: 1rem;}
.ms-5 { margin-left: 1.25rem;}
.ms-6 { margin-left: 1.5rem;}
.ms-7 { margin-left: 1.75rem;}
.ms-8 { margin-left: 2rem;}
.ms-9 { margin-left: 2.25rem;}
.ms-10 { margin-left: 2.5rem;}
/* margin-right */
.me-1 { margin-right: .25rem;}
.me-2 { margin-right: .5rem;}
.me-3 { margin-right: .75rem;}
.me-4 { margin-right: 1rem;}
.me-5 { margin-right: 1.25rem;}
.me-6 { margin-right: 1.5rem;}
.me-7 { margin-right: 1.75rem;}
.me-8 { margin-right: 2rem;}
.me-9 { margin-right: 2.25rem;}
.me-10 { margin-right: 2.5rem;}
/* margin-inline */
.mx-1 { margin-inline: .25rem;}
.mx-2 { margin-inline: .5rem;}
.mx-3 { margin-inline: .75rem;}
.mx-4 { margin-inline: 1rem;}
.mx-5 { margin-inline: 1.25rem;}
.mx-6 { margin-inline: 1.5rem;}
.mx-7 { margin-inline: 1.75rem;}
.mx-8 { margin-inline: 2rem;}
.mx-9 { margin-inline: 2.25rem;}
.mx-10 { margin-inline: 2.5rem;}
/* maring-block */
.my-1 { margin-block: .25rem;}
.my-2 { margin-block: .5rem;}
.my-3 { margin-block: .75rem;}
.my-4 { margin-block: 1rem;}
.my-5 { margin-block: 1.25rem;}
.my-6 { margin-block: 1.5rem;}
.my-7 { margin-block: 1.75rem;}
.my-8 { margin-block: 2rem;}
.my-9 { margin-block: 2.25rem;}
.my-10 { margin-block: 2.5rem;}

/* PADDING VARIATIONS */
/* padding */
.p-1 { padding: .25rem;}
.p-2 { padding: .5rem;}
.p-3 { padding: .75rem;}
.p-4 { padding: 1rem;}
.p-5 { padding: 1.25rem;}
.p-6 { padding: 1.5rem;}
.p-7 { padding: 1.75rem;}
.p-8 { padding: 2rem;}
.p-9 { padding: 2.25rem;}
.p-10 { padding: 2.5rem;}
/* padding-top */
.pt-1 { padding-top: .25rem;}
.pt-2 { padding-top: .5rem;}
.pt-3 { padding-top: .75rem;}
.pt-4 { padding-top: 1rem;}
.pt-5 { padding-top: 1.25rem;}
.pt-6 { padding-top: 1.5rem;}
.pt-7 { padding-top: 1.75rem;}
.pt-8 { padding-top: 2rem;}
.pt-9 { padding-top: 2.25rem;}
.pt-10 { padding-top: 2.5rem;}
/* padding-bottom */
.pb-1 { padding-bottom: .25rem;}
.pb-2 { padding-bottom: .5rem;}
.pb-3 { padding-bottom: .75rem;}
.pb-4 { padding-bottom: 1rem;}
.pb-5 { padding-bottom: 1.25rem;}
.pb-6 { padding-bottom: 1.5rem;}
.pb-7 { padding-bottom: 1.75rem;}
.pb-8 { padding-bottom: 2rem;}
.pb-9 { padding-bottom: 2.25rem;}
.pb-10 { padding-bottom: 2.5rem;}
/* padding-left */
.ps-1 { padding-left: .25rem;}
.ps-2 { padding-left: .5rem;}
.ps-3 { padding-left: .75rem;}
.ps-4 { padding-left: 1rem;}
.ps-5 { padding-left: 1.25rem;}
.ps-6 { padding-left: 1.5rem;}
.ps-7 { padding-left: 1.75rem;}
.ps-8 { padding-left: 2rem;}
.ps-9 { padding-left: 2.25rem;}
.ps-10 { padding-left: 2.5rem;}
/* padding-right */
.pe-1 { padding-right: .25rem;}
.pe-2 { padding-right: .5rem;}
.pe-3 { padding-right: .75rem;}
.pe-4 { padding-right: 1rem;}
.pe-5 { padding-right: 1.25rem;}
.pe-6 { padding-right: 1.5rem;}
.pe-7 { padding-right: 1.75rem;}
.pe-8 { padding-right: 2rem;}
.pe-9 { padding-right: 2.25rem;}
.pe-10 { padding-right: 2.5rem;}
/* padding-inline */
.px-1 { padding-inline: .25rem;}
.px-2 { padding-inline: .5rem;}
.px-3 { padding-inline: .75rem;}
.px-4 { padding-inline: 1rem;}
.px-5 { padding-inline: 1.25rem;}
.px-6 { padding-inline: 1.5rem;}
.px-7 { padding-inline: 1.75rem;}
.px-8 { padding-inline: 2rem;}
.px-9 { padding-inline: 2.25rem;}
.px-10 { padding-inline: 2.5rem;}
/* padding-block */
.py-1 { padding-block: .25rem;}
.py-2 { padding-block: .5rem;}
.py-3 { padding-block: .75rem;}
.py-4 { padding-block: 1rem;}
.py-5 { padding-block: 1.25rem;}
.py-6 { padding-block: 1.5rem;}
.py-7 { padding-block: 1.75rem;}
.py-8 { padding-block: 2rem;}
.py-9 { padding-block: 2.25rem;}
.py-10 { padding-block: 2.5rem;}


.b-dark { border-color: hsl(var(--dark));}
.b-sm { border-width: 1px; border-style: solid;}
.bb-sm { border-bottom-width: 1px; border-bottom-style: solid;}
.b-md { border-width: 2px; border-style: solid;}
.b-lg { border-width: 3px; border-style: solid;}
.b-xl { border-width: 4px; border-style: solid;}



/* overflow */
.of-hidden { overflow: hidden;}

.fit-x { width: fit-content;}
.fit-y { height: fit-content;}

/* position */
.relative { position: relative;}
.absolute { position: absolute;}

.top-0 { top: 0;}
.bottom-0 { bottom: 0;}

.btn-sm {
  padding: .3rem .8rem;
  font-size: .7rem;
  font-weight: 400;
  border-width: 1px;
}

.block { display: block;}
.inline-block { display: inline-block;}

.text-btn,
.text-btn:hover {
  padding: 0;
  font-weight: 400;
  text-decoration: underline;
  text-underline-offset: 3px;
  background-color: transparent !important;
  border: none !important;
  outline: none !important;
}
.text-xs {
  font-size: .4rem;
}